* {
   box-sizing: border-box;

}

body {
  font-family: 'inter',sans-serif;
  margin: 24px;
  padding: 0px;
}

.square {
  width: 64px;
  height: 64px;
  border: 1px solid grey;
  background-color: aliceblue;
  font-size: 1.5rem;
  cursor: pointer;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 192px;
  height: 192px;
}